*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #0e0e0e;
  line-height: 1.3;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1220px;
}

.section-page {
  padding: 100px 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

.header {
  background-position: center 50px;
  background-image: url("/images/header-bg.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header::after {
  content: "";
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 70px;
  background: linear-gradient(
    180deg,
    #0e0e0e 0%,
    rgba(17, 17, 17, 0.850295) 16.53%,
    rgba(32, 31, 33, 0) 100%
  );
  transform: rotate(180deg);
}

.menu {
  font-size: 36px;

  background: linear-gradient(
    180deg,
    #111213 0%,
    #111213 43.62%,
    rgba(32, 31, 33, 0) 86.33%
  );
}

.menu__list {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.menu__link:hover {
  color: #85ccdc;
}

.menu__title {
  transform: translateY(50%);
  text-align: center;
  /* padding-top: 178px; */
}

.menu__item {
  margin-right: 25px;
}

.title {
  color: #fff;
  font-size: 36px;
  text-align: center;
  padding-bottom: 100px;
  letter-spacing: 0.5rem;
}

.about__inner {
  display: flex;
  justify-content: space-between;
}

.about__info {
  max-width: 200px;
}

.about__list {
  margin-bottom: 30px;
}

.about__text {
  max-width: 770px;
}

.about__text p {
  margin-bottom: 30px;
  line-height: 1.5;
}

.video {
  position: relative;
  background-image: url("/images/video.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.video__title,
.video__subtitle {
  color: #85ccdc;
  font-size: 72px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}

.video__title {
  position: absolute;
  top: 350px;
  left: 800px;
}

.video__subtitle {
  position: absolute;
  top: 430px;
  left: 1050px;
}

.youtube {
  position: absolute;
  top: 500px;
  left: 800px;
}

.video p {
  position: absolute;
  top: 540px;
  left: 910px;
}

.seasons__number {
  color: #600e09;
  font-size: 96px;
  font-weight: 700;
}

.seasons__img {
  margin-top: -50px;
}

.seasons__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
}

.seasons__card {
  justify-content: center;
  align-items: center;
}
.seasons__card:hover {
  opacity: 0.5;
}

.charachters {
  margin-bottom: 100px;
}

.charachters__inner {
  display: flex;
  justify-content: space-between;
}

.slider {
  position: relative;
  max-width: 775px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  background-color: transparent;
  cursor: pointer;
  border: none;
  transform: translateY(-50%);
}

.slick-prev {
  z-index: 2;
  left: 40px;
}

.slick-next {
  right: 40px;
}

.slider__text {
  max-width: 350px;
}

.slider__title {
  color: #85ccdc;
  font-size: 72px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 40px;
}

.slider__text-card p {
  margin-bottom: 30px;
}

.footer {
  text-align: center;
  padding: 30px 0;
}

.active {
  color: #85ccdc;
}

/* second page */
.pager-header {
  background-image: url("/images/season-1-bg.jpg");
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.logo-2 {
  margin-right: 100px;
}

.text__inner {
  display: flex;
  max-width: 1383px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: black;
  padding: 44px 47px 64px 35px;
}

.text__number {
  padding-top: 21px;
  margin-right: 45px;
  color: #fff;
  font-family: "Roboto Condensed";
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.3;
}
.text__number span {
  color: #fff;

  font-family: "Roboto Condensed";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text__inner p {
  margin-bottom: 15px;
}
